{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block custom-css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block title %}Login Page{% endblock %}

{% block nav-title %}Login{% endblock %}


{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-lg-7 col-md-12 col-sm-12 mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} text-center">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="card bg-light form-card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <hr class="mb-0">
                    <p class=" mt-0">
                        Don't Have an Account yet?
                        <a href="{% url 'mc:register' %}" class="fw-bold text-decoration-none">Register now</a>
                    </p>
                    <button type="submit" class="btn btn-primary col-12 my-1 fw-bold">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}