{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom-css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block title %}Delete Account{% endblock %}

{% block nav-title %}Delete Account ({{object.name|title}}){% endblock %}



{% block content %}

<div class="row justify-content-center my-5">
    <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="py-4 px-4 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                    <h4 class="fw-bold ">Delete</h4>
                    <hr>
                    <h5 class="fw-bold">are you sure you want to delete your account?</h5>
                    <h6 class="fw-bold text-muted">this action is irreversible </h6>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="update" class="btn btn-danger col-12 my-1 fw-bold">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}