{% extends '../base.html' %}
{% load static%}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block title %}{{object.title}}{% endblock %}

{% block nav-title %} <a class="text-dark text-decoration-none" href="{% url 'mc:transaction-list' view.kwargs.name view.kwargs.account_pk %}">Transactions</a> / {{object.title}} {% endblock %}

{% block content %}
    <div class="d-flex mt-5 row py-3 justify-content-around mt-5">

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Title</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.title}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Note</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.note}}</h5>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Amount</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.amount}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Date</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.date}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Account</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.account}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Current Balance</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.current_balance}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Total</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.new_balance}}</h5>
            </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-3 px-3 mx-1 mb-5  mt-2 main-card bg-light">
            <div class="py-4 px-2 my-2 text-center detail {% if not object.is_main %}mt-5{% endif %}">
                <h4 class="fw-bold ">Type</h4>
                <hr>
                <h5 class="fw-bold text-primary">{{object.transaction_type}}</h5>
            </div>
        </div>
    </div>

{% endblock %}
